video{
  top: 0;
  left: 0;
  object-fit: fill;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
  width: auto;
  height: 100vh;
  position: absolute;
}
#mediaContainer{
  position: relative;
  text-align: center;
}
#twitchClip{
  text-align: center;
}