html,body{
  margin: 0;
  padding: 0;
}
canvas{
  display: block;
}
#scene{
  width: 100vw;
  height: 100vh;
}
.test{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(5 5 5 / 0.2);
}